body {
    background-color: aliceblue;
    width: 90%;

}


.container {
text-align: left;
    position: relative;
    margin-right: 1700px;
    margin-top: 10px;
    top: 10px;
}
.container2 {
    text-align: left;
    position: relative;
    margin-right: 1520px;
    margin-top: 10px;
    top: -50;

}

.hidden {
    
    display: none;
    width: 1300px; /* Ancho de la tarjeta */
    border: 1px solid #ccc; /* Borde de la tarjeta */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 20px;
}
.toggle-btn {

    padding: 15px 20px;
    font-size: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px; /* Borde redondeado */
    margin-bottom: 15px;
}




[data-column="opciones"] {
    text-align: center;
  }


 .table {
    width: 180%;
    border-collapse: collapse; /* Combina los bordes de las celdas */
}

/* Estilo para las celdas */
.table th, .table td {
    padding: 6px; /* Ajusta el espacio interior de las celdas */
    border: -1px solid #007bff; /* Borde de las celdas */
    text-align: left; /* Alineación del texto */
}